<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Biodiversity Loss</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    .full-width {
      width: 100%;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Canadian Biodiversity Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 full-width text-center">
        <div id="line1"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 full-width text-center">
        <div id="line2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 full-width text-center">
        <div id="pie1"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well" style="width: 400px; height: 100px;">
          <h5>Select Region:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>        
      </div>
      <div class="col-md-5 full-width text-center">
        <div id="bar1"></div>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="./static/js/app.js"></script>

</body>

</html>

